import /vendor/etc/init/hw/init.custom.rc
import /vendor/etc/init/hw/init.power.rc

on init

    # added touch gesture wake node permission
    chown system /sys/devices/virtual/touch/tp_dev/gesture_on
    chown 0660 /sys/class/touch/tp_dev/gesture_on
    chown system /sys/devices/virtual/touch/tp_dev/tp_screen_switch

    # RGB led
    chown system system /sys/class/leds/led:rgb_red/brightness
    chmod 0660 /sys/class/leds/led:rgb_red/brightness
    chown system system /sys/class/leds/led:rgb_green/brightness
    chmod 0660 /sys/class/leds/led:rgb_green/brightness
    chown system system /sys/class/leds/led:rgb_blue/brightness
    chmod 0660 /sys/class/leds/led:rgb_blue/brightness
    chown system system /sys/class/leds/led:rgb_blue/blink
    chmod 0660 /sys/class/leds/led:rgb_blue/blink
    chown system system /sys/class/leds/red/blink
    chown system system /sys/class/leds/green/blink
    chown system system /sys/class/leds/blue/blink

on boot
    chown gps gps /sys/ontim_bootinfo/gps_lna
    chown gps gps /sys/ontim_bootinfo/gps_avdd_en
    chown gps gps /sys/ontim_bootinfo/gps_reset
    chown gps gps /sys/ontim_bootinfo/gps_prtrg

on post-fs-data
    chown system system /sys/devices/platform/soc/soc:fpc1020/wakeup_enable
    chown system system /sys/devices/platform/soc/soc:fpc1020/handle_wakelock
    chown system system /sys/devices/platform/soc/soc:fpc1020/device_prepare
    chown system system /sys/devices/platform/soc/soc:fpc1020/hw_reset
    chown system system /sys/devices/platform/soc/soc:fpc1020/irq
    chown system system /sys/devices/platform/soc/soc:fpc1020/regulator_enable
    chown system system /sys/devices/platform/soc/soc:fpc1020/pinctl_set
    chown system system /sys/devices/platform/soc/soc:fpc1020/clk_enable
