# common config for all projects.

on post-fs
    # Set dm-verity property for system partition
    verity_update_state

on init
    chown system system /sys/class/leds/led:rgb_red/brightness
    chmod 0660 /sys/class/leds/led:rgb_red/brightness
    chown system system /sys/class/leds/led:rgb_green/brightness
    chmod 0660 /sys/class/leds/led:rgb_green/brightness
    chown system system /sys/class/leds/led:rgb_blue/brightness
    chmod 0660 /sys/class/leds/led:rgb_blue/brightness
    chown system system /sys/class/leds/led:rgb_blue/blink
    chmod 0660 /sys/class/leds/led:rgb_blue/blink
    chown system system /sys/class/leds/red/blink
    chown system system /sys/class/leds/green/blink
    chown system system /sys/class/leds/blue/blink
